
.basic-grid {
    display: grid;
    gap: 1rem;
    row-gap: 5rem;

    /* 2 columns 1 fraction apart */
    /* grid-template-columns: repeat(2,minmax(240px,1fr));  */
    grid-template-columns: repeat(2,minmax(230px,1fr)); 


    
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    font-size: 25px;
    color: rgb(0, 0, 0);
    box-shadow: rgba(0, 57, 190, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: auto;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 }

 .margin-top10{
    margin-top: 10%;

 }


 .text-box{
     padding: 10%;
     text-align: center;
 }

 /* .card:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.1);
 } */