.CommentSection {
    min-height: 40vh;
}

.Commentbox{
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 5%;
    padding-right: 3%;
    /* width: 40%; */
      /* height: 100px; */
      padding: 10px;
      background-image: url("/uploads/media/default/0001/01/a1d4caa225542c577689287a36f4209808b08c19.jpeg");
      /* font:1.4em/1.6em cursive; */
    color: #095484;
    padding-bottom: 3%;
    padding-top: 3%;
    width: 90%;
    border-radius: 500px;
    border: 1px;
    border-style: solid;

}